* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

head link{
	transform: rotate(17deg);
	width: 100%;
}

body {
	color: #fff;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	background: url(./img/showcase2.jpg) no-repeat center center/cover;
	background-attachment: fixed;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
}

.burger {
	cursor: pointer;
	display: none;
}

.burger div {
	width: 25px;
	height: 2px;
	background-color: #fff;
	margin: 5px;
	transition: all 0.3s ease;
}

.logo img {
	max-width: 7vh;
}

.nav-links {
	display: flex;
	justify-content:space-around;
	width: 40%;
}

.nav-links li {
	list-style: none;
}

.nav-links i {
	display: none;
}

a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
}

.container {
	margin: auto;
}

/* SHOWCASE */
.showcase {	
	margin-top: 1.5rem;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 65vh;
}

.showcase img{
	max-height: 60px;
	margin-bottom: 1.5rem;
}

.showcase h1{
	line-height: 60px;
	font-size: 42px;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.showcase p {	
	line-height: 60px;
	font-size: 32px;
	text-align: center;
}

.btn {
	font-size: 0.8rem;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 10px 20px;
	margin: .5rem;
	border: 1px solid #fff;
}

/* SOCIAL */
.social {
	min-height: 20vh;
}

.social p {
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 1.5rem;
	font-weight: 500;
}

.links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.links a {
	margin: 0 3rem;
}

.links a i {
	font-size: 3rem;
}

.map {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 2rem;
}

.up-btn {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
}

.up-btn i {
	font-size: 4vh;
}

.whatsapp {
	position:fixed;
  	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	z-index:100;
}

.whatsapp-icon {
	margin-top:13px;
}

/* RESPONSIVE */

@media screen and (max-width:1000px){
	nav {
		min-height: 7vh;
	}

	.nav-links {
		width: 60%;
	}
		
	.showcase img{
		max-height: 58px;
	}
	
	.showcase h1{
		line-height: 58px;
		font-size: 40px;
	}
	
	.showcase p {	
		line-height: 58px;
		font-size: 30px;	
	}
	.social {
		min-height: 20vh;
	}
	
	.social p {
		text-align: center;
		font-size: 1.4rem;
		margin-bottom: 1.5rem;
		font-weight: 400;
	}

@media screen and (max-width:800px) {
	nav {
		min-height: 6vh;
	}

	.nav-links {
		width: 70%;
	}		

@media screen and (max-width:677px){
	.showcase img{
		max-height: 50px;
	}
	
	.showcase h1{
		line-height: 45px;
		font-size: 35px;
	}
	
	.showcase p {	
		line-height: 45px;
		font-size: 22px;	
	}
	.social {
		min-height: 20vh;
	}
	
	.social p {
		text-align: center;
		font-size: 1.2rem;
		margin-bottom: 1.5rem;
		font-weight: 400;
	}

	.social p {
		font-size: 1.3rem;
		margin-bottom: 1.5rem;
		font-weight: 200;
	}

	.links {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.links a {
		margin: 0 1rem;
	}

	.links a i {
		font-size: 2rem;
}

@media screen and (max-width:600px){
	body {
		overflow-x: hidden;
	}
	
	.nav-links {
		position: absolute;
		right: 0px;
		height: 94vh;
		top: 6vh;
		background-color: #000;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 1;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.3s ease-in-out;		
		opacity: .9;
	}

	.nav-links i {
		display: block;
	}

	.nav-links li {
		opacity: 0;
	}

	.burger {
		display: block;
	}

	.nav-active {
		transform: translateX(0%);	
	}

	@keyframes navLinkFade{
		from {
			opacity: 0;
			transform: translateX(50px);
		}

		to {
			opacity: 1;
			transform: translateX(0px);

		}		
	}

	.toggle .line1{
		transform: rotate(-45deg) translate(-5px, 6px);		
	}
	
	.toggle .line2{
		opacity: 0;		
	}

	.toggle .line3{
		transform: rotate(+45deg) translate(-5px, -6px);
	}
	
@media screen and (max-width:450px){
	.showcase h1{
		font-size: 28px;
	}

	.showcase p {
		font-size: 16px;
	}

	.social {
		margin: 1.5rem;
	}

	.social p {
		font-size: .8rem;
	}	
}

@media screen and (max-width:300px){
	.links a i {
		font-size: 2rem;
	}
}
