* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

head link{
	transform: rotate(17deg);
	width: 100%;
}

body {
	color: #222;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background: #fff;
}

.burger {
	cursor: pointer;
	display: none;
}

.burger div {
	width: 25px;
	height: 2px;
	background-color: #222;
	margin: 5px;
	transition: all .3s ease;
}

.logo img {
	max-width: 7vh;
}

.nav-links {
	display: flex;
	justify-content:space-around;
	width: 40%;
}

.nav-links li {
	list-style: none;
}

.nav-links i {
	display: none;
}

a {
	color: #222;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
}

.container {
	margin: auto;
}

/* SHOWCASE */
.showcase {
	color: #fff;
	height: 550px;
	background: url(./img/showcase.jpg) no-repeat center center/cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: 6rem;
	margin-bottom: 1.5rem;
}

.showcase-logo {
	width: 40%;
	transform: rotate(17deg);
}

.showcase h1{
	font-weight: 100;
	margin-bottom: 10px;
}

.btn {
	font-size: 0.8rem;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 10px 20px;
	margin: .5rem;
	border: 1px solid #fff;
}

/* PRODUCT CARDS */
.product-cards {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #fff;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(9, 1fr);
	gap: 1.5rem;
}

.product1 {
	display: flex;
	flex-direction: column;
	align-items:flex-end;
	justify-content: center;
	background: url(./img/product1.jpg) no-repeat center center/cover;
	grid-column: 1/3;
	grid-row: 2/6;
}

.product2 {
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	justify-content: center;
	background: url(./img/product2.jpg) no-repeat center center/cover;
	grid-column: 3/5;
	grid-row: 2/6;
}

.product3 {
	display: flex;
	flex-direction: column;
	align-items:flex-end;
	justify-content: center;
	background: url(./img/product3.jpg) no-repeat center center/cover;
	grid-column: 1/3;
	grid-row: 6/10;
}

.txt1 {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #222;
	grid-column: 1/5;
	grid-row: 1/2;	
}

.txt2 {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color: #222;
	grid-column: 3/5;
	grid-row: 6/10;
}

.product-cards div h3{
	font-size: 2rem;
	margin: .5rem;
}

.product-cards div p {
	font-size: 1.5rem;
	margin: .5rem;
}

/* SOCIAL */
.social {
	margin: 1.5rem;
}

.social p {
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	font-weight: 500;
}

.links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.links a {
	margin: 0 2rem;
}

.links a i {
	font-size: 3rem;
}

.map {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 2rem;
}

.up-btn {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
}

/* RESPONSIVE */

@media screen and (max-width:1000px){
	nav {
		min-height: 7vh;
	}

	.nav-links {
		width: 60%;
	}

	.form {
		width: 55%;
	}

@media screen and (max-width:800px) {
	nav {
		min-height: 6vh;
	}

	.nav-links {
		width: 70%;
	}

	.showcase {
		height: 70vh;
		align-items: center;
		justify-content: center;
		padding-bottom: 1vh;
	}
	
	.showcase-logo {
		width: 50%;
		margin-bottom: 0vh;
	}

	.showcase h1{
		font-size: 1.3rem;
	}

	.showcase .btn{
		margin-bottom: 0vh;
	}
}
		

@media screen and (max-width:600px){
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 94vh;
		top: 6vh;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 1;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.3s ease-in-out;
	}

	.nav-links i {
		display: block;
	}

	.nav-links li {
		opacity: 0;
	}

	.burger {
		display: block;
	}

	.nav-active {
		transform: translateX(0%);	
	}

	@keyframes navLinkFade{
		from {
			opacity: 0;
			transform: translateX(50px);
		}

		to {
			opacity: 1;
			transform: translateX(0px);

		}		
	}

	.toggle .line1 {
		transform: rotate(-45deg) translate(-5px, 6px);		
	}

	.toggle .line2 {
		opacity: 0;		
	}

	.toggle .line3 {
		transform: rotate(45deg) translate(-5px, -6px);		
	}

	body {
		color: #222;
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
		justify-content: center;
	}

	.showcase h2{
	font-size: 1rem;
	}

	.btn {
		font-size: 0.5rem;;
	}
	
	.product-cards {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(14, 1fr);
		}
	
	.product1 {
		align-items: center;
		grid-column: 1/3;
		grid-row: 2/6;
	}
	
	.product2 {
		align-items: center;
		grid-column: 1/3;
		grid-row: 6/10;
	}
	
	.product3 {
		align-items: center;
		grid-column: 1/3;
		grid-row: 10/14;
	}
	
	.txt1 {
		grid-column: 1/3;
		grid-row: 1/2;		
	}
	.txt2 {
		grid-column: 1/3;
		grid-row: 14/15;
		align-items: center;
	}

	.form {
		width: 80%;
	}

@media screen and (max-width:496px){	
	.form {
		width: 80%;
	}
}

@media screen and (max-width:450px){
	.showcase h1{
		font-size: 1rem;
	}

	.social {
		margin: 1.5rem;
	}

	.social p {
		font-size: .8rem;
	}
	
	.links {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.links a {
		margin: 0 1rem;
	}
	
	.form {
		width: 70%;
	}
} 

@media screen and (max-width:375px){
	.product-cards .txt2 :first-child {
		font-size: 1.5rem;
	}

}
@media screen and (max-width:360px){
	.product-cards div h3{
		font-size: 1.5rem;
	}
	
	.product-cards div p {
		font-size: 1rem;
	}
}

@media screen and (max-width:300px){
	.links a i {
		font-size: 2rem;
	}

	.form {
		width: 260px;
	}
}
